{% extends "Core/base.html" %}

{% load static %}

{% block title %} <title> Home </title> {% endblock %}

{% block content %}

<main class="container">
    <!-- INTRO -->
    <section class="row mt-5 pt-5 mx-5">
        <div class="col-md-6">
            <p class="raleway display-5 fw-bold">Hasta donde <br> podemos llegar, <br> con un Clip ?</p>
            <p class="opensans mt-5" style="font-size: 18px;">Nuestra historia empieza en el momento que se nos ocurre
                <br> intercambiar un Clip por
                otro objeto, así sucesivamente, <br> entonces hasta donde podemos llegar?
            </p>
            <a class="btn btn-outline-success mb-5 zoom" href="#" role="button">Por Donde Vamos ?</a>
        </div>

        <div class="col-md-6 text-center d-none d-md-block">
            <img src="{% static 'Core/assets/clip.png'%}" class="img-fluid" alt="clip" width="300px" height="300px">
        </div>
    </section>
    <!-- INTRO -->

    <hr class="mt-4 mb-3" style="width: 50%; margin: auto;">

    <!-- RECORRIDO -->
    <section id="recorrido" class="row mt-5 pt-5 mx-5">
        <p class="text-center raleway display-6 fw-bold">Como llevamos la situación actualmente ?</p>

        <div class="opensans card border-success mt-3 mb-3 col-md-4">
            <div class="mt-2 card-header">Header</div>
            <img src="{% static 'Core/assets/img_01.png'%}" class="card-img-top" alt="">
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

    </section>
    <!-- RECORRIDO   -->


</main>

{% endblock %}