{% load static %}

<footer class="footer text-center">
    <div class="container-flex">
        <ul class="list-inline pt-4" style="background-color: #262626;">

            <!-- TIK TOK -->
            <li class="list-inline-item mx-3 zoom">
                <a href="https://www.tiktok.com/@clip_365" aria-label="tiktok"
                    class="social-link rounded-circle mr-3 text-white"><i class="fab fa-tiktok fa-2x"></i></a>
            </li>
            <!-- TIK TOK -->

            <!-- INSTAGRAM -->
            <li class="list-inline-item mx-3 zoom">
                <a href="https://www.instagram.com/clip_365/" aria-label="instagram"
                    class="social-link rounded-circle mr-3 text-white"><i class="fab fa-instagram fa-2x"></i></a>
            </li>
            <!-- INSTAGRAM -->

            <!-- TWITTER -->
            <li class="list-inline-item mb-3 mx-3 zoom">
                <a href="https://twitter.com/?lang=es" aria-label="twitter"
                    class="social-link rounded-circle text-white"><i class="fab fa-twitter fa-2x"></i></i></a>
            </li>
            <!-- TWITTER -->

            <p class="raleway text-white pt-4 pb-4" style="background-color: #1e1e1e;">Copyright &copy; Clip
                Project
            </p>
        </ul>
    </div>
</footer>

<!-- OWN JS -->
<script src="{% static 'Core/js/app.js'%}"></script>