{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
        <a class="navbar-brand mx-4 opensans fw-bold" href="#">Clip To The Moon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse opensans" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="#recorrido">Recorrido</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="#historia">Nuestra Historia</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" href="#sobreNosotros">Sobre Nosotros</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="alert alert-dismissible alert-success opensans text-center" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    Obtén más información sobre cómo <strong> <a href="#recorrido" class="alert-link">llevamos nuestro recorrido.</a></strong>
</div>